{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Add Disease Alert</h2>

<form method="POST" class="w-50 mx-auto">
  <div class="mb-2">
    <label>Animal</label>
    <select name="animal_id" class="form-select" required>
      {% for a in animals %}
        <option value="{{ a[0] }}">{{ a[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <input type="text" name="disease_name" class="form-control mb-2" placeholder="Disease Name" required>
  
  <select name="severity" class="form-select mb-2" required>
    <option value="">-- Select Severity --</option>
    <option value="Low">Low</option>
    <option value="Moderate">Moderate</option>
    <option value="High">High</option>
  </select>

  <textarea name="recommended_action" class="form-control mb-2" placeholder="Recommended Action" required></textarea>

  <button type="submit" class="btn btn-danger w-100">Submit Alert</button>
</form>
{% endblock %}
